.article-main-content {

	&__title {
		margin-bottom: 15px;
	}

	&__sub-title {
		margin-bottom: 8px;
	}

	&__text {
		&:not(:last-child):nth-child(even) {
			&:extend(.vertical-rhythm20);
		}

		&:last-child {
			&:extend(.mt20);
		}

		&--first-letter {
			&:first-letter {
				float: left;
				color: @color__gray;
				font-size: 81px;
				text-transform: uppercase;
				padding: 24px 22px 2px 0;
			}
		}

	}



	&__link {
		color: @color__brand;
		border-bottom: 1px solid @color__brand;

		&:hover {
			color: @color__additional-brand;
			border-color: @color__additional-brand;
		}

		&:visited {
			color: @color__gray;
			border-color: @color__gray;
		}
	}
}