.header-burger {
	width: 20px;
	height: 20px;
	position: relative;
	cursor: pointer;

	&::before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		height: 4px;
		width: 100%;
		background-color: #fff;
		border-radius: 2px;
		box-shadow: 0 8px 0 0 #fff, 0 16px 0 0 #fff;
	}

}