.index-dossier {
	border: 20px solid @color__spot;
	padding: 20px 20px 0;
	position: relative;

	&__title {
		.phone({
			font-size: 24px;
			margin: 14px 0 29px;
		});
		.respond-min(@screen__tablet, {
			font-size: 32px;
			margin: 14px 0 35px;
		});
	}

	&__wrapper-short-announcements {
		display: flex;
		justify-content: space-between;
		align-content: space-between;
		.phone({
			height: 300px;
			flex-direction: column;
		});
		.respond-min(@screen__tablet, {
			height: 140px;
			flex-wrap: wrap;
		});
	}

	&__all-articles {
		letter-spacing: -.6px;
		font-weight: 700;
		font-family: @font__pt-sans;

		.phone({
			display: block;
			padding: 15px 0 20px;
		});
		.respond-min(@screen__tablet, {
			position: absolute;
			bottom: 30px;
			left: 20px;
		});
	}

}