.index-slider--col-2 {
	.owl-prev,
	.owl-next {
		width: 35px;
	}
}

.index-slider--col-3 {
	.owl-prev,
	.owl-next {
		width: 140px;
		background: rgba(255, 255, 255, .5);

		&:hover {
			background: rgba(255, 255, 255, 0);
		}
	}
}

.index-slider {
	&--index {
		.tablet({.index-slider--col-2;});
		.laptop({.index-slider--col-2});
		.desktop({.index-slider--col-3});
	}

	@slider-index-button__size: 70px;
	@slider-index-button__indent: @slider-index-button__size / 2;

	.item {
		height: 430px;
		position: absolute;
		top: 0;
		left: 0;
	}


	.owl-stage-outer {
		height: 430px;
	}

	.owl-item {
		width: 620px !important;
	}

	.owl-prev,
	.owl-next {
		position: absolute;
		top: 0;
		height: 100%;
		font-size: 30px;
		overflow: hidden;
		transition: background .3s;

		.icomoon-font-family();
		&::before {
			content: "\e901";
			background: #fff;
			color: @color__brand;
			position: absolute;
			top: 50%;
			line-height: 71px;
			text-indent: 17px;
			margin-top: -@slider-index-button__indent;
			height: @slider-index-button__size;
			width: @slider-index-button__size;
			border-radius: 50%;
			transition: color .3s;
		}

		&:hover &::before {
			color: @color__additional-brand;
		}
	}

	.owl-prev {
		left: 0;

		&::before {
			left: -@slider-index-button__indent;
		}
	}

	.owl-next {
		right: 0;

		&::before {
			right: -@slider-index-button__indent;
			transform: rotate(180deg);
		}
	}
}