.short-announcement__col-1 {

	&.short-announcement--w260 {
		width: 220px;
	}

	.short-announcement__title--short {
		width: 118px;
	}

}

.short-announcement__col-2 {

	&.short-announcement--w260 {
		width: 260px;
	}

	.short-announcement__title--short {
		width: 155px;
	}

}

.short-announcement {
	display: block;
	overflow: hidden;
	position: relative;
	font-family: @font__pt-sans;

	&--index {
		.phone({.short-announcement__col-1;});
		.respond-min(@screen__tablet, { .short-announcement__col-2; });
	}


	&__title {
		float: right;
		height: 55px;
		overflow: hidden;
		line-height: 18px;
		margin-top: -3px;
		font-size: 16px;

		&--long {
			width: 200px;
		}
	}

	&:hover {
		color: @color__gray;

		&::before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 87px;
			height: 60px;
			background: rgba(115, 115, 115, .1);
		}
	}

}