.test-menu--col-1 {
	.test-menu__item {
		padding: 0 26px 15px;
	}

	.test-menu__content {
		flex-wrap: wrap;
		justify-content: center;
	}
}

.test-menu--col-2 {
	.test-menu__item {
		padding: 0 19px 5px;
	}

	.test-menu__content {
		width: 380px;
		flex-wrap: wrap;
		justify-content: center;
	}
}

.test-menu--col-3 {
	.test-menu__item {
		padding: 0 20px 5px;
	}

	.test-menu__content {
		justify-content: space-between;
	}
}

.test-menu--col-4 {
	.test-menu__item {
		padding: 0 20px 5px;
	}

	.test-menu__content {
		justify-content: space-between;
	}
}

.test-menu {
	text-align: center;

	&--test {
		.phone({.test-menu--col-1});
		.tablet({.test-menu--col-2});
		.laptop({.test-menu--col-3;});
		.desktop({.test-menu--col-4;});
	}

	&__content {
		display: inline-flex;
		align-items: center;
	}

			&__link {
				font: 700 12px @font__pt-sans;
				text-transform: uppercase;
			}

	&__wrapper-submit-btn {
		float: left;
		position: relative;
		width: 30px;
		height: 30px;

		&::before {
			position: absolute;
			top: 6px;
			left: 7px;
			color: #fff;
		}
	}

		&__submit-btn {
			border-radius: 50%;
			background: @color__additional-brand;
			height: 100%;
			width: 100%;
		}
}