@icon-color: #fff;

.test-menu-search {
	width: 126px;
	height: 30px;
	background-color: @color__additional-brand;
	position: relative;
	border-radius: 15px;

	&::before {
		content: "\e901";
		.icomoon-font-family;
		transform: rotate(180deg);
		position: absolute;
		color: #fff;
		font-size: 21px;
		font-weight: 700;
		top: 4px;
		right: 3px;
	}

	&__text {
		width: 104px;
		height: 100%;
		box-shadow: none;
		border: none;
		background: transparent;
		color: #fff;
		padding: 0 0 4px 11px;
		font-size: 12px;
		display: block;

		&:focus {
			outline: none;
		}

	}

	&__submit-btn {
		position: absolute;
		right: 0;
		top: 0;
		height: 100%;
		width: 22px;
		z-index: 1;
		background: transparent;
	}
}



